body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
h1{
  text-align: center;
}
.main-header{
  background: #73C8A9;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #373B44, #73C8A9);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #373B44, #73C8A9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.title{
  font-size: 30px !important;
  color: #f7f7f7;
}
.container{
  width: 1500px !important;
  height: 850px;
  margin: auto;
  margin-top: 20px;
  background: #73C8A9;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #373B44, #73C8A9);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #373B44, #73C8A9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}
.brand-heading{
  width: 700px;
  height: 30px;
  color: white;
  text-align: center;
  float: right;
  margin-top: 10%;
  margin-right: 50px;
  background: #141E30;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.shopping-list{
  width: 700px;
  height: 250px;
  text-align: center;
  float: right;
  margin-top: 10%;
  margin-right: 50px;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}
.shopping-cart{
  width: 700px;
  height: 350px;
  margin-top: 10px;
  margin-right: 50px;
  text-align: center;
  float: right;
  border: 5px dashed #d9d9d9;
  border-radius: 10px;
  padding: 5rem 2rem;
  background-color: rgba(49, 209, 9, 0.137);
}
.phone{
  display: inline-block !important;
  width: 10rem !important;
  margin: 0 1em 1em 0.25em !important;
  padding: .5em !important;
  cursor: pointer;
  background: #f7f7f7 !important;
  
}
.mycart-header{
  margin-top: 20px !important;
  color: rgb(238, 248, 240); 
  text-align: center;
  background: #000000;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */



}
.my-cart{
  text-align: left;
  margin-top: 100px;
  border: 5px solid #d9d9d9;
}
.cart-item{
  float: right;
}
.meta{
  font-size: 8px !important;
}

/* Drag and Drop */

.drag{
  background-color: lightblue !important;
}

.content {
  background: #141E30;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}